* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.header {
    background-color: burlywood;
    grid-column: 2 / -1;
}

.sidebar {
    background-color: rgb(22, 150, 255);
    grid-column: 1 / 2;
    grid-row: 1 / -1;
}

.main-content-container {
    background-color: bisque;
}