* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-size: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.header {
    background-color: burlywood;
    grid-column: 2 / -1;
}


.dashboard-list1 > li{
    line-height: 200%;
    color: white;
    font-size: 1.5rem;
    margin-left: 20%;
    list-style-type: none;
    }

.sidebar-icon {
    padding-right: 20px;
}



.sidebar {
    background-color: rgb(22, 150, 255);
    grid-column: 1 / 2;
    grid-row: 1 / -1;
}

.main-content-container {
    background-color: bisque;
}