* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-size: 20px;
}

.grid-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.header {
    background-color: burlywood;
    grid-column: 2 / -1;
}

.dashboard-header {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 12%;
    padding: 2rem;
}



.sidebar li {
    line-height: 200%;
    color: white;
    font-size: 1.8rem;
    margin-left: 15%;
    list-style-type: none;
    
    }

.dashboard-list1 {
    margin-bottom: 15%;
}
.dashboard-list2 {
    margin-bottom: 20%;;
}

.sidebar-icon {
    padding-right: 20px;
}



.sidebar {
    background-color: rgb(22, 150, 255);
    grid-column: 1 / 2;
    grid-row: 1 / -1;
}

.main-content-container {
    background-color: bisque;
}